body {
font-family: Verdana, sans-serif;
color: #333;
margin:0;
padding:0;

}
span.blog_title{
	font-size: 2em;
	padding-left: 3%;
	padding-right: 3%;
}

header{
	padding-left:6%;
	padding-top:2%;

/*................testing....................*/
/*	border: 2px dotted red;*/
}

header h1,h5 {
	padding-left:4%;
	width: 100%;

/*................testing....................*/
	/*border: 2px dotted blue;*/
}


div#header{

/*................testing....................*/
/*	border: 2px dotted pink;*/
}


div.row#content{
	clear:left;

/*................testing....................*/
	/*background-color: #ababab;*/
}


.current {
background-color: #1122ff;
color: #fff;

}

li {
	list-style-type: none;
	text-align: left;
	border: 1px solid #000;
	border-radius: 3px;
	margin-left: 5px;
	float: left;

}

a {
	text-decoration: none;
	padding: 0 5px 0 5px;

}


footer{
	background-color: #ddd;
	padding-left: 2%
}



li.post-sidebar{
	width:80%;
	font-size: 70%;
	border:none;
	margin-bottom: 5px;
	float:none;
	margin-left: -10%;

}

li.post h3,p {
	width:100%;
	clear:right;

}

span.date{
	float: left;
	font-size: 60%;
}

li.post{
	width: 100%;
	border: none;
	text-align: left;
}

div#right-content{
/*	display:inline-block;*/
/*	max-width: 300px;*/


/*................testing....................*/
/*	border: 2px dashed green;*/
}

/* =====================BOOTSTRAP OVERRULES ==========================*/

.container-fluid {
/*	border: 2px dashed #000;*/

}

.col-md-2 li{
	margin-left: -8%;


}

.col-md-3{
	float: none;
	border-right: 1px solid #eaeaea;


/*         testing                  */
/*	border: 1px solid red;*/


}






/* =====================BOOTSTRAP OVERRULES ==========================*/

/* =====================Handling responsiveness ==========================*/

div.long{
/*	height:0;
	width: 100%;

	border: 3px solid red;*/

}






