<!DOCTYPE html>
<html lang="en">
{%  include head.html %}

<body>
<div class="container-fluid">
<div class="row">
<header>
{% include nav.html %}

</header>
<br />
</div>

<div class="row">

<div class="col-md-2">
	<p>??</p>
</div> <!-- sidebar-->

<div class="col-md-5" id="left-content">
	
	{{content}} 


</div><!-- "col-md-5" -->

<div class="col-md-5" id="right-content">
<p>Not to be neglected</p>

</div>
</div> <!-- ".row -->

{% include footer.html %}
</div> <!-- .container-fluid -->
</body>
</html>